.hero-title-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;

    height: fit-content;

    color: var(--text);

    & p{
        font-size: 2rem;
        text-align: center;
    }
}