.coshita-btn{
    max-width: 300px;
    max-height: 50px;
    border:0;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 17px 33px 15px;
    background: linear-gradient(to right, var(--violet), var(--pink));
    background-size: 150% 150%;
    transition: background-position 1s ease;
    width: auto;
}

.coshita-btn:hover{
    background-position: 100% 50%;
}