.info-container{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    width: 70%;
}
h2{
    font-size: 2.5rem;
    text-transform: uppercase;
}

.subtitle{
    font-family: Satisfy, cursive;
    font-size: 3rem;
    font-weight: 300;
}

.info-description{
    width:70%;
    line-height: 1.75rem;
}

.subtitle.pink{
    color: var(--pink);
}