.hero-section{
  padding: 5rem 0;
}

.hero-info-container{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-left: 10rem;
}

h1{
  font-size: 60px;
  width: 100%;
}

.profe{
  font-family: Satisfy, cursive;
  font-size: 2.5rem;
  font-weight: 300;
}

.hero-info-container p{
  width:70%;
}