*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

:root{
  --principal-color: rgb(44, 2, 44);
  --violet: #503aca;
  --pink: rgb(234, 52, 255);
  --dark: black;
}

body{
  background-color: var(--principal-color);
  color: white;
}

section{
  /* place-items: center;*/
  padding:10rem 20rem; 
  position: relative;
}

.section-container{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width:100%;
}

.fd-column{
  flex-direction: column;
  /* gap:3rem; */
}

.flex-justify-center{
  justify-content: center;
}

.flex-space-around{
  justify-content: space-around;
}

.align-items-center{
  align-items: center;
}