*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}

:root{
  --principal-color: rgb(44, 2, 44);
  --violet: #503aca;
  --pink: rgb(234, 52, 255);
  --dark: black;
  --back-violet: rgb(36, 9, 119);
  --back-light-violet: rgb(72, 7, 149)
}

body{
  background-color: var(--principal-color);
  background-image: radial-gradient(circle at top right, var(--back-violet) 0%, var(--back-violet) 48%,var(--back-light-violet) 48%, var(--back-light-violet) 53%,rgb(109, 5, 178) 53%, rgb(109, 5, 178) 56%,rgb(145, 2, 208) 56%, rgb(145, 2, 208) 69%,rgb(181, 0, 237) 69%, rgb(181, 0, 237) 100%);
  color: white;
}

section{
  /* place-items: center;*/
  padding:10rem 20rem; 
  position: relative;
}

.section-container{
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  width:100%;
}

.fd-column{
  flex-direction: column;
  gap: 10rem;
}

.flex-justify-center{
  justify-content: center;
}

.flex-space-around{
  justify-content: space-around;
}

.align-items-center{
  align-items: center;
}